{% comment %} 
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}

<aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4">
  <nav>
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item"><a href="">Introduction</a></li>
        {% for intro in site.introduction %}
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="{{ intro.url }}">{{ intro.title }}</a>
          </li>
        </ul>  
        {% endfor %}
    </ul>
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item"><a href="">Content types</a></li>
        {% for type in site.content_types %}
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="{{ type.url }}">{{ type.title }}</a>
          </li>
        </ul>  
        {% endfor %}
    </ul>
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item"><a href="">Our approach</a></li>
        {% for approach in site.our_approach %}
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="{{ approach.url }}">{{ approach.title }}</a>
          </li>
        </ul>  
        {% endfor %}
    </ul>
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item"><a href="">Our style</a></li>
        {% for style in site.our_style %}
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="{{ style.url }}">{{ style.title }}</a>
          </li>
        </ul>  
        {% endfor %}
    </ul>
  </nav>
</aside>